<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="student" class="com.springcore.Student">
		<!-- collaborators and configuration for this bean go here -->
        <property name="studentId" value="1"/>
        <property name="studentName" value="Rahul"/>
        <property name="studentAddress" value="Delhi"/>
	</bean>
</beans>